<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::header">Replacable Navigation</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <nav th:replace="fragments/navbar.html::navbar">Replacable Navigation</nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside th:replace="fragments/sidebar.html::sidebar">Replacable Navigation</aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Comedy Movie List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
              <li class="breadcrumb-item active">Movie List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div id="demo"></div>
    <div class="container">
      <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
          <th>
            <a>Id</a>
          </th>
          <th>
            <a>Name</a>
          </th>
          <th>
            <a>Category</a>
          </th>
          <th>
            <a>Rating</a>
          </th>
          <th>
            <a>Language</a>
          </th>
          <th> Actions </th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="movie: ${data}">
          <td th:text="${movie.movieId}"></td>
          <td th:text="${movie.name}"></td>
          <td th:text="${movie.Category}"></td>
          <td th:text="${movie.rating}"></td>
          <td th:text="${movie.language}"></td>
          <td>
            <button class="lunch-btn btn btn-primary" th:data-movie-id="${movie.id}" type="button">Update</button>
<!--            <a th:href="@{/update-movie(id=${movie.id})}" class="btn btn-primary">Update</a>-->
            <a onclick="deleteMovie()" th:href="@{'/delete/' + ${movie.id}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
</div>
<!-- ./wrapper -->
<footer th:replace="fragments/footer.html::footer">Replacable Navigation</footer>
</body>
</html>
