<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html::header">Replacable Navigation</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
  <!-- Preloader -->
  <div th:replace="fragments/placeholder.html::placeholder">Replacable Navigation</div>

  <!-- Navbar -->
  <nav th:replace="fragments/navbar.html::navbar">Replacable Navigation</nav>

  <!-- Main Sidebar Container -->
  <aside th:replace="fragments/sidebar.html::sidebar">Replacable Navigation</aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- /.content-header -->

    <!-- Main content -->
<!--    <section class="content">-->
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 th:text="${totalMovieCount}" >Total Movies</h3>
                <p>Total Movies</p>
              </div>
              <div class="icon">

              </div>
              <a href="list-movie" class="small-box-footer">See All <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 th:text="${actionMovieCount}"></h3>
                <p>Action Movies</p>
              </div>
              <div class="icon">

              </div>
              <a href="action-movie" class="small-box-footer">See All<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 th:text="${comedyMovieCount}"></h3>
                <p>Comedy Movies</p>
              </div>
              <div class="icon">

              </div>
              <a href="comedy-movies" class="small-box-footer">See All <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 th:text="${englishMovieCount}"></h3>

                <p>English Movies</p>
              </div>
              <div class="icon">
                <i class="bi bi-film"></i>
              </div>
              <a href="english-movies" class="small-box-footer">See All <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div>
    </div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
    <footer th:replace="fragments/footer.html::footer">Replacable Navigation</footer>
</body>
</html>
